.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 60px;
  z-index: 1000;
}

.logo {
  font-size: 28px;

  justify-items: left;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

.logo span {
  color: #ff3d00;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff3d00;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.cta button {
  padding: 10px 22px;
  background-color: #ff3d00;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.cta button:hover {
  background-color: #e63600;
}


