.home {
  width: 100%;
  height: 100vh;

}

.mySwiper {
  width: 100%;
  height: 100vh;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Overlay */
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(21, 20, 20, 0.5);
}

/* Hero Content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: rgb(241, 244, 241);
  z-index: 10;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.hero-content button {
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  background-color: #6c8fa4;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.hero-content button:hover {
  background-color: #202f9c;
}
